
/* Reset all CSS */
html, body, h1, form, fieldset, input {
 margin: 0;
 padding: 0;
 border: none;
 }

body { font-family: Helvetica, Arial, sans-serif; font-size: 12px; }

/* Styles for the search input area */
#search {
    color: #fff;
    background: #2d2d2d;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(60,60,60)),
        color-stop(0.74, rgb(43,43,43)),
        color-stop(1, rgb(60,60,60))
        );
     background: -moz-linear-gradient(
        center bottom,
        rgb(60,60,60) 0%,
        rgb(43,43,43) 74%,
        rgb(60,60,60) 100%
        );
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     border-radius: 10px;
     margin: 10px;
     width: 430px;
     }

#search h2 {
	color: #fff;
	text-shadow: 0px -1px 0px #000;
	text-align: center;
	padding: 18px;
	margin: 0px;
	font-weight: normal;
	      font-size: 24px;
	      font-family: Lucida Grande, Helvetica, Arial, sans-serif;
	border-bottom: solid #181818 1px;
	-moz-box-shadow: 0px 1px 0px #3a3a3a;
	-webkit-box-shadow: 0px 1px 0px #3a3a3a;
	box-shadow: 0px 1px 0px #3a3a3a;
}

 #search a {
      color: #8c910b;
      text-shadow: 0px -1px 0px #000;
      }

#search fieldset {
      padding: 20px;
      }

input.text {
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     border-radius: 15px;
     border:solid 1px #444;
     font-size: 14px;
     width: 90%;
     padding: 7px 8px 7px 35px;
     background: #ddd url('../img/icon_sprite_32x32.png') no-repeat 4px 6px;
      background: url('../img/icon_sprite_32x32.png') no-repeat 4px 6px, -moz-linear-gradient(
          center bottom,
          rgb(225,225,225) 0%,
          rgb(215,215,215) 54%,
          rgb(173,173,173) 100%
     );
     background: url('img/icon_sprite_32x32.png') no-repeat 4px 6px, -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, rgb(225,225,225)),
          color-stop(0.54, rgb(215,215,215)),
          color-stop(1, rgb(173,173,173))
      );
      color:#333;
      text-shadow:0px 1px 0px #FFF;
      -moz-box-shadow: 0px 1px 0px #777;
      -webkit-box-shadow: 0px 1px 0px #777;
      box-shadow: 0px 1px 0px #777;
 }

input#sourceAddress {
	background-position: 4px 2px;
	background-position: 4px 2px, 0px 0px;
}


