span.tango {
    position: absolute;
    height: 32px;
    width: 32px;
    background-image: url("/tangoiconsprite/tango-icon-sprite/tango_icons_32x32.png");
    background-repeat: no-repeat
    background-position: top left;
}
.accessories-calculator { background-position: 0 0; } 
.accessories-character-map { background-position: 0 -33px; } 
.accessories-text-editor { background-position: 0 -66px; } 
.address-book-new { background-position: 0 -99px; } 
.application-certificate { background-position: 0 -132px; } 
.application-x-executable { background-position: 0 -165px; } 
.applications-accessories { background-position: 0 -198px; } 
.applications-development { background-position: 0 -231px; } 
.applications-games { background-position: 0 -264px; } 
.applications-graphics { background-position: 0 -297px; } 
.applications-internet { background-position: 0 -330px; } 
.applications-multimedia { background-position: 0 -363px; } 
.applications-office { background-position: 0 -396px; } 
.applications-other { background-position: 0 -429px; } 
.applications-system { background-position: 0 -462px; } 
.appointment-new { background-position: 0 -495px; } 
.audio-card { background-position: 0 -528px; } 
.audio-input-microphone { background-position: 0 -561px; } 
.audio-volume-high { background-position: 0 -594px; } 
.audio-volume-low { background-position: 0 -627px; } 
.audio-volume-medium { background-position: 0 -660px; } 
.audio-volume-muted { background-position: 0 -693px; } 
.audio-x-generic { background-position: 0 -726px; } 
.battery-caution { background-position: 0 -759px; } 
.battery { background-position: 0 -792px; } 
.bookmark-new { background-position: 0 -825px; } 
.camera-photo { background-position: 0 -858px; } 
.camera-video { background-position: 0 -891px; } 
.computer { background-position: 0 -924px; } 
.contact-new { background-position: 0 -957px; } 
.dialog-error { background-position: 0 -990px; } 
.dialog-information { background-position: 0 -1023px; } 
.dialog-warning { background-position: 0 -1056px; } 
.document-new { background-position: 0 -1089px; } 
.document-open { background-position: 0 -1122px; } 
.document-print-preview { background-position: 0 -1155px; } 
.document-print { background-position: 0 -1188px; } 
.document-properties { background-position: 0 -1221px; } 
.document-save-as { background-position: 0 -1254px; } 
.document-save { background-position: 0 -1287px; } 
.drive-harddisk { background-position: 0 -1320px; } 
.drive-optical { background-position: 0 -1353px; } 
.drive-removable-media { background-position: 0 -1386px; } 
.edit-clear { background-position: 0 -1419px; } 
.edit-copy { background-position: 0 -1452px; } 
.edit-cut { background-position: 0 -1485px; } 
.edit-delete { background-position: 0 -1518px; } 
.edit-find-replace { background-position: 0 -1551px; } 
.edit-find { background-position: 0 -1584px; } 
.edit-paste { background-position: 0 -1617px; } 
.edit-redo { background-position: 0 -1650px; } 
.edit-select-all { background-position: 0 -1683px; } 
.edit-undo { background-position: 0 -1716px; } 
.emblem-favorite { background-position: 0 -1749px; } 
.emblem-important { background-position: 0 -1782px; } 
.emblem-photos { background-position: 0 -1815px; } 
.emblem-readonly { background-position: 0 -1848px; } 
.emblem-symbolic-link { background-position: 0 -1881px; } 
.emblem-system { background-position: 0 -1914px; } 
.emblem-unreadable { background-position: 0 -1947px; } 
.face-angel { background-position: 0 -1980px; } 
.face-crying { background-position: -33px 0; } 
.face-devilish { background-position: -33px -33px; } 
.face-glasses { background-position: -33px -66px; } 
.face-grin { background-position: -33px -99px; } 
.face-kiss { background-position: -33px -132px; } 
.face-monkey { background-position: -33px -165px; } 
.face-plain { background-position: -33px -198px; } 
.face-sad { background-position: -33px -231px; } 
.face-smile-big { background-position: -33px -264px; } 
.face-smile { background-position: -33px -297px; } 
.face-surprise { background-position: -33px -330px; } 
.face-wink { background-position: -33px -363px; } 
.folder-drag-accept { background-position: -33px -396px; } 
.folder-new { background-position: -33px -429px; } 
.folder-open { background-position: -33px -462px; } 
.folder-remote { background-position: -33px -495px; } 
.folder-saved-search { background-position: -33px -528px; } 
.folder-visiting { background-position: -33px -561px; } 
.folder { background-position: -33px -594px; } 
.font-x-generic { background-position: -33px -627px; } 
.format-indent-less { background-position: -33px -660px; } 
.format-indent-more { background-position: -33px -693px; } 
.format-justify-center { background-position: -33px -726px; } 
.format-justify-fill { background-position: -33px -759px; } 
.format-justify-left { background-position: -33px -792px; } 
.format-justify-right { background-position: -33px -825px; } 
.format-text-bold { background-position: -33px -858px; } 
.format-text-italic { background-position: -33px -891px; } 
.format-text-strikethrough { background-position: -33px -924px; } 
.format-text-underline { background-position: -33px -957px; } 
.go-bottom { background-position: -33px -990px; } 
.go-down { background-position: -33px -1023px; } 
.go-first { background-position: -33px -1056px; } 
.go-home { background-position: -33px -1089px; } 
.go-jump { background-position: -33px -1122px; } 
.go-last { background-position: -33px -1155px; } 
.go-next { background-position: -33px -1188px; } 
.go-previous { background-position: -33px -1221px; } 
.go-top { background-position: -33px -1254px; } 
.go-up { background-position: -33px -1287px; } 
.help-browser { background-position: -33px -1320px; } 
.image-loading { background-position: -33px -1353px; } 
.image-missing { background-position: -33px -1386px; } 
.image-x-generic { background-position: -33px -1419px; } 
.input-gaming { background-position: -33px -1452px; } 
.input-keyboard { background-position: -33px -1485px; } 
.input-mouse { background-position: -33px -1518px; } 
.internet-group-chat { background-position: -33px -1551px; } 
.internet-mail { background-position: -33px -1584px; } 
.internet-news-reader { background-position: -33px -1617px; } 
.internet-web-browser { background-position: -33px -1650px; } 
.list-add { background-position: -33px -1683px; } 
.list-remove { background-position: -33px -1716px; } 
.mail-attachment { background-position: -33px -1749px; } 
.mail-forward { background-position: -33px -1782px; } 
.mail-mark-junk { background-position: -33px -1815px; } 
.mail-mark-not-junk { background-position: -33px -1848px; } 
.mail-message-new { background-position: -33px -1881px; } 
.mail-reply-all { background-position: -33px -1914px; } 
.mail-reply-sender { background-position: -33px -1947px; } 
.mail-send-receive { background-position: -33px -1980px; } 
.media-eject { background-position: -66px 0; } 
.media-flash { background-position: -66px -33px; } 
.media-floppy { background-position: -66px -66px; } 
.media-optical { background-position: -66px -99px; } 
.media-playback-pause { background-position: -66px -132px; } 
.media-playback-start { background-position: -66px -165px; } 
.media-playback-stop { background-position: -66px -198px; } 
.media-record { background-position: -66px -231px; } 
.media-seek-backward { background-position: -66px -264px; } 
.media-seek-forward { background-position: -66px -297px; } 
.media-skip-backward { background-position: -66px -330px; } 
.media-skip-forward { background-position: -66px -363px; } 
.multimedia-player { background-position: -66px -396px; } 
.network-error { background-position: -66px -429px; } 
.network-idle { background-position: -66px -462px; } 
.network-offline { background-position: -66px -495px; } 
.network-receive { background-position: -66px -528px; } 
.network-server { background-position: -66px -561px; } 
.network-transmit-receive { background-position: -66px -594px; } 
.network-transmit { background-position: -66px -627px; } 
.network-wired { background-position: -66px -660px; } 
.network-wireless-encrypted { background-position: -66px -693px; } 
.network-wireless { background-position: -66px -726px; } 
.network-workgroup { background-position: -66px -759px; } 
.office-calendar { background-position: -66px -792px; } 
.package-x-generic { background-position: -66px -825px; } 
.preferences-desktop-accessibility { background-position: -66px -858px; } 
.preferences-desktop-assistive-technology { background-position: -66px -891px; } 
.preferences-desktop-font { background-position: -66px -924px; } 
.preferences-desktop-keyboard-shortcuts { background-position: -66px -957px; } 
.preferences-desktop-locale { background-position: -66px -990px; } 
.preferences-desktop-multimedia { background-position: -66px -1023px; } 
.preferences-desktop-peripherals { background-position: -66px -1056px; } 
.preferences-desktop-remote-desktop { background-position: -66px -1089px; } 
.preferences-desktop-screensaver { background-position: -66px -1122px; } 
.preferences-desktop-theme { background-position: -66px -1155px; } 
.preferences-desktop-wallpaper { background-position: -66px -1188px; } 
.preferences-desktop { background-position: -66px -1221px; } 
.preferences-system-network-proxy { background-position: -66px -1254px; } 
.preferences-system-session { background-position: -66px -1287px; } 
.preferences-system-windows { background-position: -66px -1320px; } 
.preferences-system { background-position: -66px -1353px; } 
.printer-error { background-position: -66px -1386px; } 
.printer { background-position: -66px -1419px; } 
.process-stop { background-position: -66px -1452px; } 
.software-update-available { background-position: -66px -1485px; } 
.software-update-urgent { background-position: -66px -1518px; } 
.start-here { background-position: -66px -1551px; } 
.system-file-manager { background-position: -66px -1584px; } 
.system-installer { background-position: -66px -1617px; } 
.system-lock-screen { background-position: -66px -1650px; } 
.system-log-out { background-position: -66px -1683px; } 
.system-search { background-position: -66px -1716px; } 
.system-shutdown { background-position: -66px -1749px; } 
.system-software-update { background-position: -66px -1782px; } 
.system-users { background-position: -66px -1815px; } 
.tab-new { background-position: -66px -1848px; } 
.text-html { background-position: -66px -1881px; } 
.text-x-generic-template { background-position: -66px -1914px; } 
.text-x-generic { background-position: -66px -1947px; } 
.text-x-script { background-position: -66px -1980px; } 
.user-desktop { background-position: -99px 0; } 
.user-home { background-position: -99px -33px; } 
.user-trash-full { background-position: -99px -66px; } 
.user-trash { background-position: -99px -99px; } 
.utilities-system-monitor { background-position: -99px -132px; } 
.utilities-terminal { background-position: -99px -165px; } 
.video-display { background-position: -99px -198px; } 
.video-x-generic { background-position: -99px -231px; } 
.view-fullscreen { background-position: -99px -264px; } 
.view-refresh { background-position: -99px -297px; } 
.weather-clear-night { background-position: -99px -330px; } 
.weather-clear { background-position: -99px -363px; } 
.weather-few-clouds-night { background-position: -99px -396px; } 
.weather-few-clouds { background-position: -99px -429px; } 
.weather-overcast { background-position: -99px -462px; } 
.weather-severe-alert { background-position: -99px -495px; } 
.weather-showers-scattered { background-position: -99px -528px; } 
.weather-showers { background-position: -99px -561px; } 
.weather-snow { background-position: -99px -594px; } 
.weather-storm { background-position: -99px -627px; } 
.window-new { background-position: -99px -660px; } 
.x-office-address-book { background-position: -99px -693px; } 
.x-office-calendar { background-position: -99px -726px; } 
.x-office-document-template { background-position: -99px -759px; } 
.x-office-document { background-position: -99px -792px; } 
.x-office-drawing-template { background-position: -99px -825px; } 
.x-office-drawing { background-position: -99px -858px; } 
.x-office-presentation-template { background-position: -99px -891px; } 
.x-office-presentation { background-position: -99px -924px; } 
.x-office-spreadsheet-template { background-position: -99px -957px; } 
.x-office-spreadsheet { background-position: -99px -990px; } 
