span.tango {
    position: absolute;
    height: 16px;
    width: 16px;
    background-image: url("/tangoiconsprite/tango-icon-sprite/tango_icons_16x16.png");
    background-repeat: no-repeat
    background-position: top left;
}
.accessories-calculator { background-position: 0 0; } 
.accessories-character-map { background-position: 0 -17px; } 
.accessories-text-editor { background-position: 0 -34px; } 
.address-book-new { background-position: 0 -51px; } 
.application-certificate { background-position: 0 -68px; } 
.application-x-executable { background-position: 0 -85px; } 
.applications-accessories { background-position: 0 -102px; } 
.applications-development { background-position: 0 -119px; } 
.applications-games { background-position: 0 -136px; } 
.applications-graphics { background-position: 0 -153px; } 
.applications-internet { background-position: 0 -170px; } 
.applications-multimedia { background-position: 0 -187px; } 
.applications-office { background-position: 0 -204px; } 
.applications-other { background-position: 0 -221px; } 
.applications-system { background-position: 0 -238px; } 
.appointment-new { background-position: 0 -255px; } 
.audio-card { background-position: 0 -272px; } 
.audio-input-microphone { background-position: 0 -289px; } 
.audio-volume-high { background-position: 0 -306px; } 
.audio-volume-low { background-position: 0 -323px; } 
.audio-volume-medium { background-position: 0 -340px; } 
.audio-volume-muted { background-position: 0 -357px; } 
.audio-x-generic { background-position: 0 -374px; } 
.battery-caution { background-position: 0 -391px; } 
.battery { background-position: 0 -408px; } 
.bookmark-new { background-position: 0 -425px; } 
.camera-photo { background-position: 0 -442px; } 
.camera-video { background-position: 0 -459px; } 
.computer { background-position: 0 -476px; } 
.contact-new { background-position: 0 -493px; } 
.dialog-error { background-position: 0 -510px; } 
.dialog-information { background-position: 0 -527px; } 
.dialog-warning { background-position: 0 -544px; } 
.document-new { background-position: 0 -561px; } 
.document-open { background-position: 0 -578px; } 
.document-print-preview { background-position: 0 -595px; } 
.document-print { background-position: 0 -612px; } 
.document-properties { background-position: 0 -629px; } 
.document-save-as { background-position: 0 -646px; } 
.document-save { background-position: 0 -663px; } 
.drive-harddisk { background-position: 0 -680px; } 
.drive-optical { background-position: 0 -697px; } 
.drive-removable-media { background-position: 0 -714px; } 
.edit-clear { background-position: 0 -731px; } 
.edit-copy { background-position: 0 -748px; } 
.edit-cut { background-position: 0 -765px; } 
.edit-delete { background-position: 0 -782px; } 
.edit-find-replace { background-position: 0 -799px; } 
.edit-find { background-position: 0 -816px; } 
.edit-paste { background-position: 0 -833px; } 
.edit-redo { background-position: 0 -850px; } 
.edit-select-all { background-position: 0 -867px; } 
.edit-undo { background-position: 0 -884px; } 
.emblem-favorite { background-position: 0 -901px; } 
.emblem-important { background-position: 0 -918px; } 
.emblem-photos { background-position: 0 -935px; } 
.emblem-readonly { background-position: 0 -952px; } 
.emblem-symbolic-link { background-position: 0 -969px; } 
.emblem-system { background-position: 0 -986px; } 
.emblem-unreadable { background-position: 0 -1003px; } 
.face-angel { background-position: 0 -1020px; } 
.face-crying { background-position: 0 -1037px; } 
.face-devilish { background-position: 0 -1054px; } 
.face-glasses { background-position: 0 -1071px; } 
.face-grin { background-position: 0 -1088px; } 
.face-kiss { background-position: 0 -1105px; } 
.face-monkey { background-position: 0 -1122px; } 
.face-plain { background-position: 0 -1139px; } 
.face-sad { background-position: 0 -1156px; } 
.face-smile-big { background-position: 0 -1173px; } 
.face-smile { background-position: 0 -1190px; } 
.face-surprise { background-position: 0 -1207px; } 
.face-wink { background-position: 0 -1224px; } 
.folder-drag-accept { background-position: 0 -1241px; } 
.folder-new { background-position: 0 -1258px; } 
.folder-open { background-position: 0 -1275px; } 
.folder-remote { background-position: 0 -1292px; } 
.folder-saved-search { background-position: 0 -1309px; } 
.folder-visiting { background-position: 0 -1326px; } 
.folder { background-position: 0 -1343px; } 
.font-x-generic { background-position: 0 -1360px; } 
.format-indent-less { background-position: 0 -1377px; } 
.format-indent-more { background-position: 0 -1394px; } 
.format-justify-center { background-position: 0 -1411px; } 
.format-justify-fill { background-position: 0 -1428px; } 
.format-justify-left { background-position: 0 -1445px; } 
.format-justify-right { background-position: 0 -1462px; } 
.format-text-bold { background-position: 0 -1479px; } 
.format-text-italic { background-position: 0 -1496px; } 
.format-text-strikethrough { background-position: 0 -1513px; } 
.format-text-underline { background-position: 0 -1530px; } 
.go-bottom { background-position: 0 -1547px; } 
.go-down { background-position: 0 -1564px; } 
.go-first { background-position: 0 -1581px; } 
.go-home { background-position: 0 -1598px; } 
.go-jump { background-position: 0 -1615px; } 
.go-last { background-position: 0 -1632px; } 
.go-next { background-position: 0 -1649px; } 
.go-previous { background-position: 0 -1666px; } 
.go-top { background-position: 0 -1683px; } 
.go-up { background-position: 0 -1700px; } 
.help-browser { background-position: 0 -1717px; } 
.image-loading { background-position: 0 -1734px; } 
.image-missing { background-position: 0 -1751px; } 
.image-x-generic { background-position: 0 -1768px; } 
.input-gaming { background-position: 0 -1785px; } 
.input-keyboard { background-position: 0 -1802px; } 
.input-mouse { background-position: 0 -1819px; } 
.internet-group-chat { background-position: 0 -1836px; } 
.internet-mail { background-position: 0 -1853px; } 
.internet-news-reader { background-position: 0 -1870px; } 
.internet-web-browser { background-position: 0 -1887px; } 
.list-add { background-position: 0 -1904px; } 
.list-remove { background-position: 0 -1921px; } 
.mail-attachment { background-position: 0 -1938px; } 
.mail-forward { background-position: 0 -1955px; } 
.mail-mark-junk { background-position: 0 -1972px; } 
.mail-mark-not-junk { background-position: 0 -1989px; } 
.mail-message-new { background-position: -17px 0; } 
.mail-reply-all { background-position: -17px -17px; } 
.mail-reply-sender { background-position: -17px -34px; } 
.mail-send-receive { background-position: -17px -51px; } 
.media-eject { background-position: -17px -68px; } 
.media-flash { background-position: -17px -85px; } 
.media-floppy { background-position: -17px -102px; } 
.media-optical { background-position: -17px -119px; } 
.media-playback-pause { background-position: -17px -136px; } 
.media-playback-start { background-position: -17px -153px; } 
.media-playback-stop { background-position: -17px -170px; } 
.media-record { background-position: -17px -187px; } 
.media-seek-backward { background-position: -17px -204px; } 
.media-seek-forward { background-position: -17px -221px; } 
.media-skip-backward { background-position: -17px -238px; } 
.media-skip-forward { background-position: -17px -255px; } 
.multimedia-player { background-position: -17px -272px; } 
.network-error { background-position: -17px -289px; } 
.network-idle { background-position: -17px -306px; } 
.network-offline { background-position: -17px -323px; } 
.network-receive { background-position: -17px -340px; } 
.network-server { background-position: -17px -357px; } 
.network-transmit-receive { background-position: -17px -374px; } 
.network-transmit { background-position: -17px -391px; } 
.network-wired { background-position: -17px -408px; } 
.network-wireless-encrypted { background-position: -17px -425px; } 
.network-wireless { background-position: -17px -442px; } 
.network-workgroup { background-position: -17px -459px; } 
.office-calendar { background-position: -17px -476px; } 
.package-x-generic { background-position: -17px -493px; } 
.preferences-desktop-accessibility { background-position: -17px -510px; } 
.preferences-desktop-assistive-technology { background-position: -17px -527px; } 
.preferences-desktop-font { background-position: -17px -544px; } 
.preferences-desktop-keyboard-shortcuts { background-position: -17px -561px; } 
.preferences-desktop-locale { background-position: -17px -578px; } 
.preferences-desktop-multimedia { background-position: -17px -595px; } 
.preferences-desktop-peripherals { background-position: -17px -612px; } 
.preferences-desktop-remote-desktop { background-position: -17px -629px; } 
.preferences-desktop-screensaver { background-position: -17px -646px; } 
.preferences-desktop-theme { background-position: -17px -663px; } 
.preferences-desktop-wallpaper { background-position: -17px -680px; } 
.preferences-desktop { background-position: -17px -697px; } 
.preferences-system-network-proxy { background-position: -17px -714px; } 
.preferences-system-session { background-position: -17px -731px; } 
.preferences-system-windows { background-position: -17px -748px; } 
.preferences-system { background-position: -17px -765px; } 
.printer-error { background-position: -17px -782px; } 
.printer { background-position: -17px -799px; } 
.process-stop { background-position: -17px -816px; } 
.software-update-available { background-position: -17px -833px; } 
.software-update-urgent { background-position: -17px -850px; } 
.start-here { background-position: -17px -867px; } 
.system-file-manager { background-position: -17px -884px; } 
.system-installer { background-position: -17px -901px; } 
.system-lock-screen { background-position: -17px -918px; } 
.system-log-out { background-position: -17px -935px; } 
.system-search { background-position: -17px -952px; } 
.system-shutdown { background-position: -17px -969px; } 
.system-software-update { background-position: -17px -986px; } 
.system-users { background-position: -17px -1003px; } 
.tab-new { background-position: -17px -1020px; } 
.text-html { background-position: -17px -1037px; } 
.text-x-generic-template { background-position: -17px -1054px; } 
.text-x-generic { background-position: -17px -1071px; } 
.text-x-script { background-position: -17px -1088px; } 
.user-desktop { background-position: -17px -1105px; } 
.user-home { background-position: -17px -1122px; } 
.user-trash-full { background-position: -17px -1139px; } 
.user-trash { background-position: -17px -1156px; } 
.utilities-system-monitor { background-position: -17px -1173px; } 
.utilities-terminal { background-position: -17px -1190px; } 
.video-display { background-position: -17px -1207px; } 
.video-x-generic { background-position: -17px -1224px; } 
.view-fullscreen { background-position: -17px -1241px; } 
.view-refresh { background-position: -17px -1258px; } 
.weather-clear-night { background-position: -17px -1275px; } 
.weather-clear { background-position: -17px -1292px; } 
.weather-few-clouds-night { background-position: -17px -1309px; } 
.weather-few-clouds { background-position: -17px -1326px; } 
.weather-overcast { background-position: -17px -1343px; } 
.weather-severe-alert { background-position: -17px -1360px; } 
.weather-showers-scattered { background-position: -17px -1377px; } 
.weather-showers { background-position: -17px -1394px; } 
.weather-snow { background-position: -17px -1411px; } 
.weather-storm { background-position: -17px -1428px; } 
.window-new { background-position: -17px -1445px; } 
.x-office-address-book { background-position: -17px -1462px; } 
.x-office-calendar { background-position: -17px -1479px; } 
.x-office-document-template { background-position: -17px -1496px; } 
.x-office-document { background-position: -17px -1513px; } 
.x-office-drawing-template { background-position: -17px -1530px; } 
.x-office-drawing { background-position: -17px -1547px; } 
.x-office-presentation-template { background-position: -17px -1564px; } 
.x-office-presentation { background-position: -17px -1581px; } 
.x-office-spreadsheet-template { background-position: -17px -1598px; } 
.x-office-spreadsheet { background-position: -17px -1615px; } 